/* PC */
@media (min-width: 1024px) {
    #header .mobile-menu-bar {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    #header .mobile-menu-bar {
        display: none;
    }
}

/* Mobile */
@media (max-width: 740px) {
    #header {
        overflow: hidden;
    }

    #navbar > li {
        display: block;
    }

    #navbar > li:first-child {
        display: inline-block;
    }

    #header .search-btn {
        display: none;
    }

    #navbar {
        display: block;
    }

    #navbar .subnavbar {
        position: initial;
        background-color: #333;
    }

    #navbar .subnavbar a {
        padding: 12px 41px;
        color:#fff;
    }

    .mobile-menu-bar {
        position: absolute;
        top: 0;
        right: 0;
    }

    #content .member-list {
        flex-direction: column;
    }

    #content .member-img {
        width: 60%;
        height: 60%;
    }

    .place-list {
        flex-direction: column;
        align-items: center;
    }

    .place-item {
        width: 100% !important;
        padding-top: 24px;
    }
    
    #content .tour-container {
        padding: 0;   
    }
    
    .col-holder {
        flex-direction: column;
    }
}